<!DOCTYPE HTML>

<html>
	<head>
        <title><%=name%>'s Profile | Shipyard</title>
        <meta charset = "utf-8">
		<link rel='stylesheet' href='../css/profile.css'>
		<link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Bungee|Source+Sans+Pro:400,400i,600,700,700i" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    </head>
	<body>
		<div class = "profile-heading-div">
			<span id = "profile-heading"><%=name%>'s Profile</span>
			<button id = "user-button" class = "user-button"><%= sessionUser %></button>
		</div>
		
		<div id = "dropdown-menu" class = "dropdown-content">
				<form method = "GET" action = "/">
					<button id = "profile-button" class = "dropdown-option-btn" type = "submit">Home</button>
				</form>
				<form method = "GET" action = "/profile">
					<button id = "logout-button" class = "dropdown-option-btn" type = "submit">Your Profile</button>
				</form>
				<form method = "POST" action = "/logout">
					<button id = "logout-button" class = "dropdown-option-btn" type = "submit">Logout</button>
				</form>
		</div>
		
		<!--<div class = "a-div-that-covers-the-body">-->
	
		<div class = "left-div">
		
			<div class = "main-display profile-information-boxes">
				<h3 class = "name-heading"><%=name%></h3>
				<div class = "profile-image" id = "profile-image">
					*Upload PFP (not implemented)*
				</div>
				<ul class = "the-basic-profile-info">
					<li>Faction/Group/Guild if we will make that a thing:  N/A</li>
					<li>About themselves:  </li>
				</ul>
			</div>
			
			<div id = "session-actions" class = "session-actions profile-information-boxes">
				<h3>YOUR ACTIONS</h3>
				<%if (sessionUser) {%>
					<%if (name === sessionUser) {%>
						<div id = "self-profile" class = "self-profile">
							<form method = "GET" action = "/change_username">
								<button id = "change-username" class = "button profile-actions-btn">Icon 1</button>
							<form>
							<button id = "change-password" class = "button profile-actions-btn">Icon 2</button>
							<button id = "blank-button" class = "button profile-actions-btn">Icon 3</button>
						</div>
						
						<div id = "non-self-profile" class = "non-self-profile" style = "display: none">
							<button id = "add-friend" class = "button profile-actions-btn">Icon 4</button>
							<button id = "send-message" class = "button profile-actions-btn">Icon 5</button>
							<button id = "report-user" class = "button profile-actions-btn">Icon 6</button>
						</div>
					<%} else {%>
						<div id = "self-profile" class = "self-profile" style = "display: none">
							<form method = "GET" action = "/change_username">
								<button id = "change-username" class = "button profile-actions-btn">Icon 1</button>
							<form>
							<button id = "change-password" class = "button profile-actions-btn">Icon 2</button>
							<button id = "blank-button" class = "button profile-actions-btn">Icon 3</button>
						</div>
						
						<div id = "non-self-profile" class = "non-self-profile">
							<button id = "add-friend" class = "button profile-actions-btn">Icon 4</button>
							<button id = "send-message" class = "button profile-actions-btn">Icon 5</button>
							<button id = "report-user" class = "button profile-actions-btn">Icon 6</button>
						</div>
					<%}%>
				<%} else {%>
					<div id = "no-login-profile" class = "no-login-profile">
						Login for more actions on this user!
					</div>
				<%}%>
				<span id = "button-caption"></span>
			</div>
		
		</div>
		
		<div class = "right-div">
			<div class = "profile-statistics profile-information-boxes">
				<h3>STATISTICS</h3>
				<table>
					<tr>
						<th>Date Joined:</th>
						<td><%=date%></td>
					</tr>
					<tr>
						<th>Total Games Played:</th>
						<td>*blank</td>
					</tr>
					<tr>
						<th>Total Games Won:</th>
						<td>*blank</td>
					</tr>
					<tr>
						<th>Game to Win Ratio:</th>
						<td>*blank</td>
					</tr>
					<tr>
						<th>Average Kills per game:</th>
						<td>*blank</td>
					</tr>
					<tr>
						<th>Average Deaths per game:</th>
						<td>*blank</td>
					</tr>
					<tr>
						<th>KDR:</th>
						<td>*blank</td>
					</tr>
				</table>
					
					
					<br> ^PLEASE NOTE CHANGE THE ABOVE HOW EVER YOU WOULD LIKE - TLR
			</div>
		</div>
		
		
		<!--</div>-->
		
		<script src = "/js/profile.js"></script>
	</body>
</html>